@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Clash Display', sans-serif;
}




.DivConFondo {
    background-image: url("/assets/Cover.jpg"); /* Ruta relativa a la carpeta "public" */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
    /* Otras propiedades de estilo según tus preferencias */
     /* Puedes ajustar la altura según tus necesidades */
    
     @media (max-width: 768px) {
    background-size: cover; /* Cambia el tamaño de la imagen para que quepa en el div */
    background-position: center; 
    ;
    /* Centra la imagen horizontalmente */
    /* Otras propiedades de estilo específicas para móviles */
  }
     
  }